<div class="header">
   <img src="https://cdn.changetip.com/img/brand/combination-mark.png">
   <p class="instructions">To send a tip, select a Hangout user and type your tip message</p>
</div>


<div class="col-sm-7">
   <form action="/tip" id="sendTipForm" method="post">
      <ul>
         <li id="participant-108104158228107899864" class="participant">
            <img src="https://lh4.googleusercontent.com/-SXJR2Y_J6Jc/AAAAAAAAAAI/AAAAAAAAAAA/2zImwIyHPno/s96-c/photo.jpg">
            <input type="checkbox" name="tip[receiver]" value="108104158228107899864" id="receiver-108104158228107899864" class="person-checkbox">
            <label for="receiver-108104158228107899864">Jack Mallers</label>
         </li>
      </ul>
      <div class="form-group">
         <div id="participantsDiv"></div>
         <input type="text" name="tip[money_val]" class="form-control message" placeholder="Amount to tip" />
         <input style=" border-width: 0 0 3px; border-color: #ae6a40;" type="submit" value="Tip" class="tip-button btn btn-default">
      </div>
   </form>
</div>

<div>
   <i class="hide fa fa-circle-o-notch fa-spin" id="spinner"></i>
</div>
