<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/tip" id="sendTipForm" method="post">
   <div id="participantsDiv"></div>
   <input type="text" name="tip[money_val]" />
   <input type="submit" value="Tip">
</form>
